<header
  class="w-full h-fit bg-white p-4 gap-4 flex flex-col justify-center items-start fixed top-0 transition-shadow duration-300 z-50"
  [ngClass]="showShadow ? 'shadow-lg' : ''"
>
  <div
    class="w-full max-w-5xl my-0 mx-auto flex justify-between items-center gap-2"
  >
    <img
      class="w-[75px] h-[42px] cursor-pointer"
      src="assets/img/logo/meat-icon-primary.png"
      alt="Meat logo"
      [routerLink]="['/private/home']"
    />
    <div class="flex items-center cursor-pointer">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 256 256"
        class="w-7 h-7 fill-primary-600"
      >
        <path
          d="M128,64a40,40,0,1,0,40,40A40,40,0,0,0,128,64Zm0,64a24,24,0,1,1,24-24A24,24,0,0,1,128,128Zm0-112a88.1,88.1,0,0,0-88,88c0,31.4,14.51,64.68,42,96.25a254.19,254.19,0,0,0,41.45,38.3,8,8,0,0,0,9.18,0A254.19,254.19,0,0,0,174,200.25c27.45-31.57,42-64.85,42-96.25A88.1,88.1,0,0,0,128,16Zm0,206c-16.53-13-72-60.75-72-118a72,72,0,0,1,144,0C200,161.23,144.53,209,128,222Z"
        ></path>
      </svg>
      <div class="flex flex-col">
        <p class="text-sm text-zinc-400 font-medium leading-4">Você está em</p>
        <div class="flex items-center gap-1">
          <p class="text-base text-zinc-900 font-medium leading-4">
            Campina Grande
          </p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 256 256"
          >
            <path
              d="M213.66,101.66l-80,80a8,8,0,0,1-11.32,0l-80-80A8,8,0,0,1,53.66,90.34L128,164.69l74.34-74.35a8,8,0,0,1,11.32,11.32Z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <label
    class="w-full max-w-5xl my-0 mx-auto p-3 bg-zinc-200 rounded-lg focus-within:bg-primary-100 flex items-center justify-between"
  >
    <input
      class="w-full bg-transparent border-none focus:outline-none text-zinc-600 focus:border-none text-sm focus:text-primary-600 placeholder:text-zinc-600 focus:placeholder:text-primary-600 placeholder:text-sm transition-colors duration-300"
      type="text"
      placeholder="Busque por lojas ou categorias"
      [(ngModel)]="userSearch"
      (keydown.enter)="userSearch.trim() && handleSearch()"
    />
    <svg
      class="w-5 h-5 fill-primary-600 cursor-pointer hover:fill-primary-700 transition-colors duration-300"
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      *ngIf="showClearInput"
      (click)="cancelSearch()"
    >
      <path
        d="M10 0C4.49 0 0 4.49 0 10C0 15.51 4.49 20 10 20C15.51 20 20 15.51 20 10C20 4.49 15.51 0 10 0ZM13.36 12.3C13.65 12.59 13.65 13.07 13.36 13.36C13.21 13.51 13.02 13.58 12.83 13.58C12.64 13.58 12.45 13.51 12.3 13.36L10 11.06L7.7 13.36C7.55 13.51 7.36 13.58 7.17 13.58C6.98 13.58 6.79 13.51 6.64 13.36C6.50052 13.2189 6.4223 13.0284 6.4223 12.83C6.4223 12.6316 6.50052 12.4411 6.64 12.3L8.94 10L6.64 7.7C6.50052 7.55886 6.4223 7.36843 6.4223 7.17C6.4223 6.97157 6.50052 6.78114 6.64 6.64C6.93 6.35 7.41 6.35 7.7 6.64L10 8.94L12.3 6.64C12.59 6.35 13.07 6.35 13.36 6.64C13.65 6.93 13.65 7.41 13.36 7.7L11.06 10L13.36 12.3V12.3Z"
      />
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 256 256"
      fill="#52525b"
      class="w-6 h-6"
      *ngIf="!showClearInput"
      [ngClass]="userSearch.trim() && 'fill-primary-600'"
      (click)="userSearch.trim() && handleSearch()"
    >
      <path
        d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"
      ></path>
    </svg>
  </label>
</header>

<router-outlet></router-outlet>
