<app-header></app-header>

<div class="w-full max-w-5xl my-0 mx-auto px-3 lg:px-0 pt-36 pb-20 bg-white">
  <div class="my-0 mx-auto">
    <div class="max-w-5xl carousel rounded-box gap-2 lg:hidden">
      <div *ngFor="let slide of slides" class="carousel-item">
        <img [src]="slide.src" [alt]="slide.alt" />
      </div>
    </div>

    <div
      class="hidden w-full lg:flex lg:gap-2 lg:justify-center lg:items-center"
    >
      <div *ngFor="let slide of slides">
        <img [src]="slide.src" [alt]="slide.alt" />
      </div>
    </div>
  </div>

  <div class="w-full flex flex-col mt-8">
    <h1 class="text-2xl font-bold text-zinc-900">Restaurantes</h1>

    <div
      class="w-full max-w-5xl my-0 mx-auto mt-6 flex flex-col gap-6 sm:flex-row sm:justify-between sm:flex-wrap"
    >
      <div
        class="w-full flex flex-col sm:w-64 lg:w-80 cursor-pointer transition-transform duration-300 hover:scale-105"
        *ngFor="let restaurant of restaurantsList"
      >
        <div
          class="w-full h-36 bg-cover-img bg-cover rounded-3xl sm:w-64 lg:w-80"
        >
          <img
            class="w-20 h-20 mt-4 ml-4 rounded-full"
            [src]="restaurant.imagePath"
            alt="{{ restaurant.name + ' logo' }}"
          />
        </div>

        <div class="w-full flex flex-col">
          <h1 class="font-bold text-zinc-900 mt-1">
            {{ restaurant.name }}
          </h1>
          <p class="text-sm">{{ restaurant.category }}</p>
          <p class="text-sm font-bold text-primary-600">
            {{ restaurant.deliveryEstimate }} | entrega grátis
          </p>
        </div>
      </div>
    </div>
  </div>

  <button
    type="button"
    data-te-ripple-init
    data-te-ripple-color="light"
    class="mt-4 w-full inline-block rounded bg-primary px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
    [routerLink]="['/login']"
    (click)="logout()"
  >
    Sair (depois eu tiro esse botao)
  </button>
</div>

<app-navbar></app-navbar>
